@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.title h1, .title h2 {
    margin: 0;
}


.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a, .primary-btn {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid rgb(223, 0, 0);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover, .primary-btn:hover {
    background-color: rgb(8, 6, 6);
    color: #ffffff;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background: url('https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iDf2OKaEVf2E/v0/-1x-1.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
}

.hero-content h2 {
    font-size: 2.5rem;
}

.hero-content p {
    font-size: 1.2rem;
    max-width: 600px;
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.feature {
    padding: 20px;
    text-align: center;
    animation: fadeIn 3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.image-container {
    overflow: hidden;
    display: inline-block;
}

.image-container img {
    width: 100%;
    height: auto;
    animation: slideInFromLeft 1s ease-out;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.footer .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer .footer-content div {
    margin: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #ddd;
}
